@media screen and (max-width:767px){.dishes_main.main_layout{display:none !important;}
.dishes_main.mobi_layout{display:block;}
.dish_list_accordin{padding:0 15px;}
.dish_list .col-lg-6{padding:0;}
.dish_list .dish_box{margin-bottom:10px;}
}
@media screen and (min-width:1025px) and (max-width:1199px){.search_section{width:610px;}
.popular_dishes{padding:60px 0;}
.food_month{padding:60px 0;}
.food_left{min-height:100%;}
.food_month_slider{padding:50px 0 0;}
.food_month_slider .food_left{min-height:100%;}
.brand_logo ul li{width:16%;}
.order_address ul li [type="radio"]:checked + label, .order_address ul li [type="radio"]:not(:checked) + label{width:95%;}
}
@media screen and (min-width:992px) and (max-width:1024px){.search_section{width:65%;}
.popular_dishes{padding:60px 0;}
.food_month{padding:60px 0;}
.food_left{min-height:100%;}
.food_month_slider .food_left{min-height:100%;}
.brand_logo ul li{width:16%;}
.first_choice_right img{width:100%;}
.food_month_slider{padding:60px 0 0;}
.order_address ul li [type="radio"]:checked + label, .order_address ul li [type="radio"]:not(:checked) + label{width:95%;}
}
@media screen and (min-width:768px) and (max-width:991px){.header_right ul li a .badge{top:0;}
.header_right ul li.online_order{margin-right:10px;}
.header_right ul li.login{margin:0 10px;}
.header_right ul li.register{margin-right:10px;}
.header_right ul li a{font-size:14px;line-height:40px;}
.header_right ul li.online_order a{padding:0 20px;}
.header_right ul li.login a{padding:0 25px;}
.header_right ul li.register a{padding:0 25px;}
.header_right ul li.lang_btn a{padding:0 25px;}
.search_section{width:500px;}
.search_box .search_btn input{background-size:20px;font-size:15px;}
.search_box .search_btn input:hover{background-size:20px;}
.popular_dishes{padding:60px 0;}
.popular_dishes_slider{padding:0 15px;}
.food_month{padding:60px 0;}
.food_left{min-height:100%;}
.food_month_slider .food_left{min-height:100%;}
.brand_logo ul li{width:16%;}
.first_choice_right img{width:100%;}
.food_month_slider{padding:60px 0 0;}
.food_left .food_txt h3{font-size:24px;}
.food_left .food_txt p span{font-size:24px;}
.food_left .food_txt a{font-size:17px;}
.food_left .food_txt a img{width:30px;}
.food_month_slider .food_left .food_txt h3{font-size:24px;}
.food_month_slider .food_left .food_txt p span{font-size:50px;}
.first_choice_left h3{font-size:24px;line-height:38px;margin-bottom:20px;}
.first_choice_left p{font-size:17px;line-height:22px;}
.first_choice_left a{line-height:40px;padding:0 20px;font-size:14px;}
.ftr_position .ftr_position_im img{width:100%;}
.ftr_position_txt{margin-top:180px;}
.ftr_position_txt h3{font-size:30px;margin-bottom:20px;}
.ftr_position_txt > ul li{width:48%;margin:0 2% 0 0;}
.ftr_position_txt > ul li:last-child{margin:0;}
.ftr_position_txt > ul li img{width:100%;}
.footer{padding:50px 0;}
.profile_page_btm{padding:30px 15px 0;}
.resp-tab-content{border:1px solid #c1c1c1;}
.resp-tab-content .container{padding:0;width:100%;}
.general_pro ul li .pro_right{margin-right:10%;}
.pass_change{margin:20px 0 0;}
.pass_change .pass_change_title{margin-top:20px;}
.payment_pro{padding-top:10px;}
.address_box.add_address{min-height:285px;}
.address_box_mid{min-height:163px;}
.address_box_btm p a{font-size:13px;}
.order_address ul li [type="radio"]:checked + label, .order_address ul li [type="radio"]:not(:checked) + label{width:95%;}
}
@media screen and (min-width:601px) and (max-width:767px){.header_right ul{padding:60px 0;}
.header_right ul li.online_order{margin-right:10px;}
.header_right ul li.login{margin:0 10px;}
.header_right ul li.register{margin-right:10px;}
.header_right ul li a{font-size:14px;line-height:40px;}
.header_right ul li.online_order a{padding:0 10px;}
.header_right ul li.login a{padding:0 15px;}
.header_right ul li.register a{padding:0 15px;}
.header_right ul li.lang_btn a{padding:0 15px;}
.main_layout .dropdown-content ul{padding:0;}
.header_right ul li a .badge{top:0;}
.search_section{width:480px;}
.search_section h3{font-size:32px;}
.search_box .search_btn input{background-size:20px;font-size:15px;}
.search_box .search_btn input:hover{background-size:20px;}
.popular_dishes{padding:60px 0;}
.food_month{padding:60px 0;}
.food_left{min-height:100%;padding-bottom:15%;text-align:center;}
.food_left .food_txt{padding:0;}
.food_month_slider .food_left{min-height:100%;padding:15% 0 0;}
.food_month_slider .food_left .food_txt{padding:0;}
.our_brand{padding:80px 0;}
.brand_logo ul li{width:24%;}
.first_choice_right img{width:100%;}
.food_month_slider{padding:60px 0 0;}
.food_left .food_txt h3{font-size:24px;}
.food_left .food_txt p span{font-size:24px;}
.food_left .food_txt a{font-size:17px;}
.food_left .food_txt a img{width:30px;}
.food_month_slider .food_left .food_txt h3{font-size:24px;}
.food_month_slider .food_left .food_txt p span{font-size:50px;}
.first_choice{padding-bottom:70px;}
.first_choice_left{padding:0 0 5%;text-align:center;}
.first_choice_left h3{font-size:34px;line-height:42px;margin-bottom:20px;}
.first_choice_right{text-align:center;}
.first_choice_right img{width:85%;}
.section_title{padding-bottom:40px;}
.popular_dishes_slider{padding:0 15px;}
.ftr_position{margin-top:0;}
.ftr_position .ftr_position_im{text-align:center;padding:20px 0 0;}
.ftr_position .ftr_position_im img{width:50%;}
.ftr_position_txt{margin-top:50px;text-align:center;}
.ftr_position_txt h3{font-size:30px;margin-bottom:20px;}
.ftr_position_txt > ul{width:100%;}
.footer{padding:50px 0;}
.ftr_box{text-align:center;padding-bottom:20px;}
.ftr_box img{max-width:100px;}
.ftr_box ul li{width:auto;float:none;display:inline-block;padding:0 20px;}
.ftr_box h5{padding-bottom:5px;}
.ftr_btm{text-align:center;padding:10px 0 0;}
.dish_list_title h3{padding:0 15px;}
.padleft0{padding-left:15px;}
.padright0{padding-right:15px;}
.dish_list{padding:0;}
.top_search input{width:100%;}
.order_top .order_top_left{width:70%;}
.profile_page_btm{padding:30px 15px 0;}
.resp-tab-content{border:1px solid #c1c1c1;}
.resp-tab-content .container{padding:0;}
.general_pro ul li .pro_right{margin-right:15%;}
.pass_change{margin:20px 0 0;}
.pass_change .pass_change_title{margin-top:20px;}
.payment_pro{padding-top:10px;}
.payment_pro ul{padding-top:10px;}
.payment_pro ul li{padding:10px 0;}
.payment_pro ul li .pro_left{width:100%;padding-left:0;text-align:left;}
.payment_pro ul li .pro_mid{width:100%;text-align:left;}
.payment_pro ul li .pro_right{width:100%;padding-right:0;text-align:left;}
.your_order{padding:50px 0;}
.order_address ul li [type="radio"]:checked + label, .order_address ul li [type="radio"]:not(:checked) + label{width:90%;}
}
@media screen and (min-width:481px) and (max-width:600px){.header{padding:20px 0;}
.header_left{text-align:left;width:20%;}
.header_left img{max-width:90px;}
.header_right{width:80%;padding:15px 0 0;}
.header_right ul{padding:10px 0;width:100%;text-align:right;}
.header_right ul li.online_order{margin-right:0px;}
.header_right ul li.login{margin:0 10px;}
.header_right ul li.register{margin-right:10px;}
.header_right ul li a{font-size:14px;line-height:40px;}
.header_right ul li.online_order a{padding:0 10px;}
.header_right ul li.login a{padding:0 15px;}
.header_right ul li.register a{padding:0 15px;}
.main_layout .dropdown-content{right:-55px;}
.header_right .main_layout{display:none;}
.mobi_layout_right{display:block;width:100%;float:left;}
.mobi_layout_btm{width:100%;float:left;display:block;padding:5px 0;margin-top:15px;}
.header_right .mobi_layout_btm ul li.register{margin:0 !important;}
.mobi_layout_btm ul li a{border:1px solid #ef1c24;line-height:40px;display:inline-block;border-radius:25px;color:#ef1c24;padding:0 20px;transition:all 0.3s ease 0s;width:100%;text-align:center;font-family:"Lato-Bold";}
.mobi_layout_btm ul li a:hover{border:1px solid #00ae4a;color:#00ae4a;}
.search_section{width:85%;}
.search_section h3{font-size:24px;}
.search_box{margin-top:20px;}
.search_box .serach_fild{width:100%;}
.search_box .search_btn{width:100%;text-align:center;padding-top:15px;}
.search_box .search_btn input{width:175px;background-size:20px;font-size:15px;float:none;}
.search_box .search_btn input:hover{background-size:20px;}
.popular_dishes{padding:60px 0;}
.food_month{padding:60px 0;}
.food_left{min-height:100%;padding-bottom:15%;text-align:center;}
.food_left .food_txt{padding:0;}
.food_month_slider .food_left{min-height:100%;padding:15% 0 0;}
.food_month_slider .food_left .food_txt{padding:0;}
.our_brand{padding:60px 0;}
.brand_logo ul li{width:24%;}
.first_choice_right img{width:100%;}
.food_month_slider{padding:60px 0 0;}
.food_left .food_txt h3{font-size:24px;}
.food_left .food_txt p span{font-size:24px;}
.food_left .food_txt a{font-size:17px;}
.food_left .food_txt a img{width:30px;}
.food_month_slider .food_left .food_txt h3{font-size:24px;}
.food_month_slider .food_left .food_txt p span{font-size:50px;}
.first_choice{padding-bottom:50px;}
.first_choice_left{padding:0 0 10%;text-align:center;}
.first_choice_left h3{font-size:34px;line-height:42px;margin-bottom:20px;}
.section_title{padding-bottom:40px;}
.popular_dishes_slider{padding:0 15px;}
.ftr_position{margin-top:0;}
.ftr_position .ftr_position_im{text-align:center;padding:20px 0 0;}
.ftr_position .ftr_position_im img{width:50%;}
.ftr_position_txt{margin-top:50px;text-align:center;}
.ftr_position_txt h3{font-size:30px;margin-bottom:20px;}
.ftr_position_txt > ul{width:100%;}
.footer{padding:50px 0;}
.ftr_box{text-align:center;padding-bottom:20px;}
.ftr_box img{max-width:100px;}
.ftr_box ul li{width:auto;float:none;display:inline-block;padding:0 20px;}
.ftr_box h5{padding-bottom:5px;}
.ftr_btm{text-align:center;padding:10px 0 0;}
.dishes_menu ul{width:90%;}
.dishes_menu ul li{padding:15px;}
.cat_more_btn{width:10%;}
.dish_top .top_search{width:100%;text-align:center;padding-bottom:20px;}
.dish_top .top_search input{float:none;display:inline-block;}
.dish_top .locality{width:100%;text-align:center;}
.dish_top .locality select{float:none;display:inline-block;}
.top_search input{width:100%;}
.dish_list_title h3{padding:0 15px;}
.padleft0{padding-left:15px;}
.padright0{padding-right:15px;}
.dish_list{padding:0;}
.order_top .order_top_right{width:100%;text-align:center;margin-top:20px;}
#progressbar{padding:0 30px;margin-top:10px;}
#progressbar li{width:100%;text-align:left;}
#progressbar li span{position:relative;top:5px;left:10px;}
#progressbar li:before{display:inline-block;}
#progressbar li:after{width:2px;height:100%;left:10px;top:-10px;}
.product_name{font-size:22px;}
.cus_radio > ul li label{font-size:14px;}
.cus_checkbox > ul li .checkbox_custom{font-size:15px;}
.pr_quantity .pr_quantity_in{width:30%;}
.profile_page_btm{padding:30px 15px 0;}
.resp-tab-content{border:1px solid #c1c1c1;}
.resp-tab-content .container{padding:0;}
.general_pro ul li .pro_right{margin-right:15%;}
.pass_change{margin:20px 0 0;}
.pass_change .pass_change_title{margin-top:20px;}
.payment_pro{padding-top:10px;}
.payment_pro ul{padding-top:10px;}
.payment_pro ul li{padding:10px 0;}
.payment_pro ul li .pro_left{width:100%;padding-left:0;text-align:left;}
.payment_pro ul li .pro_mid{width:100%;text-align:left;}
.payment_pro ul li .pro_right{width:100%;padding-right:0;text-align:left;}
.your_order{padding:40px 0;}
.order_address ul li [type="radio"]:checked + label, .order_address ul li [type="radio"]:not(:checked) + label{width:90%;}
}
@media screen and (max-width:480px){.header{padding:10px 0;}
.header_left{text-align:center;width:20%;}
.header_left img{max-width:100%;}
.header_right{width:80%;padding:0;}
.header_right ul{padding:10px 0;width:100%;text-align:right;position:relative;}
.header_right ul li.online_order{margin-right:10px;}
.header_right ul li.login{margin:0 10px;}
.header_right ul li a{font-size:14px;line-height:35px;}
.header_right ul li.online_order a{padding:0 10px;}
.header_right ul li.login a{padding:0 15px;}
.header_right ul li.register a{padding:0 15px;}
.header_right ul li.dropdown{}
.header_right .main_layout{display:none;}
.mobi_layout_right{display:block;width:100%;float:left;}
.mobi_layout_btm{width:100%;float:left;display:block;padding:5px 0;margin-top:15px;}
.header_right ul li.register{margin:0;}
.header_right .mobi_layout_btm ul li.register{margin:0 !important;}
.mobi_layout_btm ul li a{border:1px solid #ef1c24;line-height:40px;display:inline-block;border-radius:25px;color:#ef1c24;padding:0 20px;transition:all 0.3s ease 0s;width:100%;text-align:center;font-family:"Lato-Bold";}
.mobi_layout_btm ul li a:hover{border:1px solid #00ae4a;color:#00ae4a;}
.search_section{width:85%;}
.search_section h3{font-size:17px;}
.search_box{margin-top:10px;}
.search_box .serach_fild{width:100%;}
.search_box .serach_fild input{height:40px;}
.search_box .search_btn{width:100%;text-align:center;padding-top:15px;}
.search_box .search_btn input{width:175px;background-size:20px;font-size:15px;float:none;height:40px;}
.search_box .search_btn input:hover{background-size:20px;}
.popular_dishes{padding:40px 0;}
.food_month{padding:40px 0;}
.food_left{min-height:100%;padding-bottom:15%;text-align:center;}
.food_left .food_txt{padding:0;}
.food_month_slider .food_left{min-height:100%;padding:15% 0 0;}
.food_month_slider .food_left .food_txt{padding:0;}
.our_brand{padding:40px 0;}
.brand_logo ul li{width:49%;}
.first_choice_right img{width:100%;}
.food_month_slider{padding:40px 0 0;}
.food_left .food_txt h3{font-size:24px;}
.food_left .food_txt p span{font-size:24px;}
.dishesappend .noBestDishes{font-size:24px;font-family: 'Lato-Bold';}
.food_left .food_txt a{font-size:17px;}
.food_left .food_txt a img{width:30px;}
.food_month_slider .food_left .food_txt h3{font-size:24px;}
.food_month_slider .food_left .food_txt p span{font-size:50px;}
.first_choice{padding-bottom:40px;}
.first_choice_left{padding:0 0 10%;text-align:center;}
.first_choice_left h3{font-size:34px;line-height:42px;margin-bottom:20px;}
.section_title{padding-bottom:40px;}
.section_title h3{font-size:24px;}
.popular_dishes_slider{padding:0 15px;}
.ftr_position{margin-top:0;}
.ftr_position .ftr_position_im{text-align:center;padding:20px 0 0;}
.ftr_position .ftr_position_im img{width:50%;}
.ftr_position_txt{margin-top:30px;text-align:center;}
.ftr_position_txt h3{font-size:30px;margin-bottom:20px;}
.ftr_position_txt > ul{width:100%;}
.ftr_position_txt > ul li{margin:0 0 10px;}
.ftr_position_txt > ul li img{width:100%;}
.footer{padding:30px 0;}
.ftr_box{text-align:center;padding-bottom:20px;}
.ftr_box img{max-width:100px;}
.ftr_box ul li{width:auto;float:none;display:inline-block;padding:0 10px;}
.ftr_box h5{padding-bottom:5px;}
.ftr_btm{text-align:center;padding:10px 0 0;}
.dishes_menu ul{width:87%;}
.dishes_menu ul li{padding:15px;}
.cat_more_btn{width:13%;}
.dish_top .top_search{width:100%;text-align:center;padding-bottom:20px;}
.dish_top .top_search input{float:none;display:inline-block;width:96%;}
.dish_top .locality{width:100%;text-align:center;}
.dish_top .locality input{width:100%;}
.dish_top .locality select{float:none;display:inline-block;width:96%;}
.dish_list_title h3{padding:0 15px;}
.padleft0{padding-left:15px;}
.padright0{padding-right:15px;}
.dish_list{padding:0;}
.dish_list .dish_box{text-align:center;}
.dish_im{width:40%;float:none;display:inline-block;}
.order_top .order_top_right{width:100%;text-align:center;margin-top:20px;}
#progressbar{padding:0 30px;margin-top:10px;}
#progressbar li{width:100%;text-align:left;}
#progressbar li span{position:relative;top:5px;left:10px;}
#progressbar li:before{display:inline-block;}
#progressbar li:after{width:2px;height:100%;left:10px;top:-10px;}
.product_name{font-size:18px;padding-bottom:15px;}
.cus_radio > ul li label{font-size:14px;}
.cus_checkbox > ul li .checkbox_custom{font-size:15px;}
.pr_quantity .pr_quantity_in{width:40%;}
.add_to_bag_btn button{width:96%;}
.add_to_bag_btn button span{padding-right:0;right:10px;}
.order_confirm_popup h2{font-size:24px;}
.order_confirm_im{margin:30px 0;}
.order_confirm_im img{width:70px;}
.order_confirm_txt{margin-bottom:50px;}
.order_confirm_txt p{font-size:20px;line-height:26px;}
#myDropdown1.dropdown-content{right:-160px;min-width:300px;}
#login_after1.dropdown-content{min-width:130px;width:70px;right:0;}
.dish_box.desk_layout{display:none;}
.dish_box.mobi_layout{display:block;}
.dish_box.mobi_layout .dish_im{display:inline-block;float:none;width:25%;}
.dish_box.mobi_layout .dish_des{width:75%;height:125px;text-align:left;padding:10px 0 10px 10px;box-sizing:border-box;}
.dish_box.mobi_layout .dish_des .dish_des_left{width:100%;float:left;}
.dish_box.mobi_layout .dish_des .dish_des_right{width:100%;float:right;position:absolute;bottom:10px;left:0;right:0;}
.dish_des h4{font-size:15px;padding-bottom:5px;}
.dish_box.mobi_layout .dish_des p{width:100%;display:inline-block;padding-bottom:5px;margin:0;}
.dish_box.mobi_layout .dish_des p span{width:100%;}
.dish_box.mobi_layout .dish_des span{bottom:5px;float:left;right:10px;}
.dish_box.mobi_layout .dish_des a{position:absolute;bottom:0;padding:0 10px;}
.profile_page_btm{padding:30px 15px 0;}
.resp-tab-content{border:1px solid #c1c1c1;}
.resp-tab-content .container{padding:0;}
.general_pro ul li .pro_left{width:100%;padding-left:0;}
.general_pro ul li .pro_right{width:100%;margin:0;}
.general_pro ul li .pro_edit{top:35%;width:12%;}
.pass_change{margin:20px 0 0;}
.pass_change .pass_change_title{margin-top:20px;}
.payment_pro{padding-top:10px;}
.payment_pro ul{padding-top:10px;}
.payment_pro ul li .pro_left{width:100%;padding-left:0;text-align:left;}
.payment_pro ul li .pro_mid{width:100%;text-align:left;}
.payment_pro ul li .pro_right{width:100%;padding-right:0;text-align:left;}
.change_pass_popup h2{font-size:24px;}
.your_order{padding:30px 0;}
.order_address ul li [type="radio"]:checked + label, .order_address ul li [type="radio"]:not(:checked) + label{width:90%;}
}
@media screen and (max-width:419px){.dropdown-content{right:-160px;}
}
@media screen and (max-width:383px){.dropdown-content{min-width:310px;right:-84px;}
}
