html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Lato', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
a, input, textarea {
   -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
}
body {
	overflow-x: hidden;
    overflow-y: visible;
	font-size:15px;
	color:#fff;
    background-color: #191d20;
    font-family: 'Lato', sans-serif;
}
img{
	max-width:100%;
	height:auto;
}

*{
    box-sizing: border-box;
}

.section {
    float: left;
    position: relative;
    width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 90%;
    width: 1700px;
}
.footer {
    float: left;
    padding: 40px 0;
    width: 100%;
    background-color: rgba(0,0,0,.65);
    margin-top: 50px;
}

.copyright {
    color: #f1f1f1;
    float: left;
    font-size: 16px;
    font-weight: 300;
}
.copyright a {
    color: #f1f1f1;
    text-decoration: none;
}
.copyright a:hover {
    text-decoration: underline;
}

.footerMenu {
    float: left;
}

.swlogo {
    float: right;
}
.header {
    position: absolute;
    width: 100%;
    top: 46px;
    z-index: 1;
}
a.logoLink {
    position: relative;
    z-index: 2;
}
/* .header::after {
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(images/whiteBlurrr.png);
    content: "";
    width: 700px;
    height: 400px;
    z-index: 1;
    background-size: 100% 100%;
} */
#topSecion ul li {
    display: inline-block;
}
#topSecion ul {
    list-style: none;
    display: inline-block;
}
#topSecion ul.logSwitch a {
    background-image: url(images/userIcon.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 28px;
    margin-left: 5px;
    background-size: auto 16px;
}
#topSecion {
    background-color: #191d20;
    text-align: right;
    padding: 12px 0px;
}
#topSecion a {
    color: #ffffff;
    font-size: 17px;
    text-decoration: none;
    font-weight: 200;
    line-height: 22px;
    margin-left: 10px;
    transition: all 0.5s ease;
}
#topSecion a:hover {
    color: #e5010c;
}
.langSwitch {
    margin-right: 30px;
    padding-right: 40px;
    position: relative;
}
.langSwitch::after {
    background-color: #fff;
    content: "";
    position: absolute;
    width: 1px;
    height: 15px;
    right: 0;
    top: 5px;
}
.langSwitch li{
    position: relative;
}
.langSwitch li::after {
    background-color: #fff;
    content: "";
    position: absolute;
    width: 1px;
    height: 15px;
    right: 0;
    top: 5px;
}
.langSwitch li:last-child::after {
    display: none;
}
.langSwitch li a {
    margin-right: 15px;
}
.langSwitch li:last-child a {
    margin-right: 0;
}
#topSecion a.topOrderButton {
    background-color: #e5010c;
    padding: 11px 20px;
    border: 1px solid #e5010c;
    transition: all 0.5s ease;
    float: right;
    margin-top: -12px;
    margin-bottom: -12px;
    margin-left: 30px;
    position: relative;
}
#topSecion a.topOrderButton:hover {
    color: #fff;
}
#topSecion a.topOrderButton span{
    position: relative;
    z-index: 2;
}
#topSecion a.topOrderButton::after {
    position: absolute;
    background-color: #820d0d;
    height: 100%;
    width: 100%;
    content: "";
    left: 0;
    top: 0;
    transform: scaleY(.1);
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 1;
}
#topSecion a.topOrderButton:hover::after {
    transform: scaleY(1);
    opacity: 1;
}

#topSecion a.instalink {
    width: 21px;
    height: 21px;
    background-image: url(images/instagramIcon.png);
    float: right;
    margin-left: 30px;
    background-position: top center;
}
#topSecion a.cartLink {
    width: 22px;
    height: 21px;
    background-image: url(images/cartIcon.png);
    float: right;
    margin-left: 30px;
    background-position: top center;
}
#topSecion a.instalink:hover, #topSecion a.cartLink:hover {
    background-position: bottom center;
}
.banner.section {
    min-height: 1000px;
}

.bannerRight {
    float: right;
    width: 70%;
    margin-top: 370px;
}
.bannerRight h1 {
    font-size: 100px;
    font-family: 'Great Vibes', cursive;
    line-height: 100px;
    margin-bottom: 30px;
}
.button1 {
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
    font-weight: 400;
    line-height: 22px;
    display: inline-block;
    padding: 14px 40px;
    margin-left: 10px;
    border: 1px solid #e5010c;
    background-color: #e5010c;
    transition: all 0.5s ease;
    margin-top: 10px;
    position: relative;
    letter-spacing: 2px;
}
.button1 span{
    position: relative;
    z-index: 2;
}
.button1::after {
    position: absolute;
    background-color: #820d0d;
    height: 100%;
    width: 100%;
    content: "";
    left: 0;
    top: 0;
    transform: scaleY(.1);
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 1;
}
.button1:hover::after {
    transform: scaleY(1);
    opacity: 1;
}

.bannerLeft {
    float: left;
    width: 30%;
    margin-top: 380px;
}

.bannerLeft ul{
    list-style: none;
}

.bannerLeft ul li:first-child {
    background-image: url(images/mobIcon.png);
    background-repeat: no-repeat;
    padding-left: 60px;
    min-height: 70px;
}
.bannerLeft ul li {
    margin-bottom: 50px;
}
.bannerLeft ul li a img{
    transition: all 0.5s ease;
    border-radius: 8px;
}
.bannerLeft ul li a:hover img{
    -webkit-box-shadow: 0px 10px 29px 0px rgba(255,0,0,0.52);
    -moz-box-shadow: 0px 10px 29px 0px rgba(255,0,0,0.52);
    box-shadow: 0px 10px 29px 0px rgba(255,0,0,0.52);
}


.bannerLeft ul li h3 {
    font-size: 30px;
    font-weight: 800;
    font-style: italic;
    margin-top: -6px;
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 8px;
}
.bannerLeft ul li p {
    font-size: 24px;
    font-weight: 300;
    font-style: italic;
    max-width: 280px;
    line-height: 36px;
}

.header .container {
    position: absolute;
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.menuButtonOuter {
    position: absolute;
    right: 0;
    top: 80px;
}
.menuButton {
    background-image: url(images/menuIcon.png);
    height: 29px;
    width: 38px;
    cursor: pointer;
    float: right;
    top: 0;
    background-repeat: no-repeat;
    background-position: top center;
    transition: all 0.5s ease;
}
.menuButton:hover {
    background-position: bottom center;
}
.menuButton.menuButtonActive {
    background-position: bottom center;
}

ul.nav-menu {
    width: 220px;
    background-color: rgba(0,0,0,.5);
    padding: 30px;
    list-style: none;
    float: right;
    margin-top: 10px;
    clear: right;
    border: 1px solid #e5010c;
    display: none;
    padding-bottom: 20px;
}
ul.nav-menu a {
    color: #fff;
    text-decoration: none;
    line-height: 22px;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 15px;
    display: block;
    transition: all 0.5s ease;
}
ul.nav-menu a:hover {
    color: #e5010c;
}
.copyright a.instalink {
    width: 21px;
    height: 21px;
    background-image: url(images/instagramIcon.png);
    float: right;
    margin-left: 30px;
    background-position: top center;
    transition: all 0.5s ease;
}
.copyright a.instalink:hover {
    background-position: bottom center;
}
.mainFooter {
    float: left;
    width: 100%;
    background-image: url(images/footerBg.jpg);
    background-size: cover;
    background-position: center center;
    padding-top: 60px;
    text-align: center;
}

.mainFooter ul {
    list-style: none;
    display: block;
    width: 100%;
    margin-bottom: 30px;
}
.mainFooter ul li{
    display: inline-block;
}
.mainFooter ul li a {
    color: #f1f1f1;
    font-size: 19px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    margin: 0 24px;
    transition: all 0.5s ease;
}
.mainFooter ul li a:hover {
    color: #e5010c;
}
.mainFooter .footLcoation, .mainFooter .footTelicon {
    color: #f1f1f1;
    font-size: 16px;
    margin-bottom: 22px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.5s ease;
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 40px;
    clear: left;
}
.mainFooter .footLcoation {
    background-image: url('images/pinIcon.png');
}

.mainFooter .footTelicon {
    background-image: url('images/telIcon.png');
}

.mainFooter .footLcoation:hover, .mainFooter .footTelicon:hover {
    color: #e5010c;
}
.mainFooter ul.footerDown a {
    margin: 0 2px;
    transition: all 0.5s ease;
}
.mainFooter ul.footerDown a img {
    transition: all 0.5s ease;
    border-radius: 8px;
}
.mainFooter ul.footerDown a:hover img{
    -webkit-box-shadow: 0px 10px 29px 0px rgba(255,0,0,0.52);
    -moz-box-shadow: 0px 10px 29px 0px rgba(255,0,0,0.52);
    box-shadow: 0px 10px 29px 0px rgba(255,0,0,0.52);
}

#featuredDeals .container {
    width: 1345px;
}
#featuredDeals {
    background-image: url(images/fBg.jpg);
    padding: 120px 0;
    text-align: center;
}
#featuredDeals h2 {
    font-size: 100px;
    font-family: 'Great Vibes', cursive;
    line-height: 100px;
    margin-bottom: 60px;
}
.featuredDealsEach {
    float: left;
    width: 48%;
    margin: 0 1%;
}
.featuredDealsEachTop img {
    width: 100%;
    margin-bottom: 20px;
}
.featuredDealsEachBottom img {
    width: 48%;
    float: left;
    margin-right: 4%;
}
.featuredDealsEachBottom img:last-child {
    margin-right: 0;
}
.featuredDealsEachTop {
    position: relative;
}
#featuredDeals .lSSlideOuter .lSPager.lSpg {
    position: absolute;
    bottom: 60px;
    left: 40px;
}
#featuredDeals .lSSlideOuter .lSPager.lSpg>li a {
    background: no-repeat;
    border: 1px solid #fff;
    height: 12px;
    width: 12px;
    padding: 10px 20px;
}
#featuredDeals .lSSlideOuter .lSPager.lSpg>li.active a, #featuredDeals .lSSlideOuter .lSPager.lSpg>li:hover a {
    background-color: #ffffff;
}
#featuredDeals .lSSlideOuter .lSPager.lSpg>li {
    padding: 0 3px;
}




@media (max-width:1400px) {

    #topSecion a {
        font-size: 15px;
    }
    a.logoLink {
        max-width: 500px;
    }
    .menuButtonOuter {
        top: 50px;
    }
    .bannerLeft ul li h3 {
        font-size: 22px;
        margin-bottom: 6px;
    }
    .bannerLeft ul li p {
        font-size: 22px;
        line-height: 28px;
    }
    .bannerRight h1 {
        font-size: 78px;
        line-height: 85px;
        margin-bottom: 20px;
    }
    .bannerLeft {
        margin-top: 320px;
        padding-right: 30px;
    }
    .bannerRight {
        margin-top: 300px;
    }
    .banner.section {
        min-height: 800px;
    }
    .bannerLeft ul li {
        margin-bottom: 40px;
    }
    #featuredDeals h2 {
        font-size: 76px;
        line-height: 80px;
        margin-bottom: 50px;
    }
    .mainFooter ul li a {
        font-size: 17px;
        margin: 0 20px;
        transition: all 0.5s ease;
    }
    ul.nav-menu {
        width: 190px;
        padding: 20px;
        padding-bottom: 15px;
    }

}
@media (max-width:990px) {
    #topSecion {
        padding: 8px 0px;
    }
    #topSecion a {
        font-size: 14px;
    }
    .langSwitch {
        margin-right: 10px;
        padding-right: 25px;
    }
    .langSwitch::after, .langSwitch li::after {
        height: 11px;
    }
    #topSecion a.topOrderButton {
        padding: 7px 15px;
        margin-top: -8px;
        margin-bottom: -8px;
        margin-left: 20px;
    }
    #topSecion a.cartLink {
        width: 19px;
        height: 18px;
        margin-left: 20px;
        background-size: 100%;
    }
    #topSecion a.instalink {
        width: 18px;
        height: 18px;
        margin-left: 20px;
        background-size: 100%;
    }
    .header {
        top: 38px;
    }
    a.logoLink {
        max-width: 400px;
        display: inline-block;
    }
    .menuButtonOuter {
        top: 30px;
    }
    .menuButton {
        height: 24px;
        width: 32px;
        background-size: 100%;
    }
    ul.nav-menu a {
        line-height: 20px;
        font-size: 16px;
        margin-bottom: 10px;
    }
    ul.nav-menu {
        width: 160px;
        padding: 10px 20px;
        padding-bottom: 5px;
    }
    .bannerRight h1 {
        font-size: 58px;
        line-height: 65px;
        margin-bottom: 10px;
    }
    .button1 {
        font-size: 13px;
        line-height: 22px;
        padding: 10px 35px;
        margin-top: 10px;
    }
    .bannerLeft ul li:first-child {
        background-size: 24px;
        padding-left: 40px;
    }
    .bannerLeft ul li h3 {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .bannerLeft ul li p {
        font-size: 18px;
        line-height: 22px;
    }
    .bannerLeft ul li {
        margin-bottom: 20px;
    }
    .bannerLeft img {
        max-width: 100%;
        width: 150px;
        border-radius: 5px;
    }
    .bannerLeft {
        margin-top: 220px;
    }
    .bannerRight {
        margin-top: 210px;
    }
    .banner.section {
        min-height: 600px;
    }
    #featuredDeals {
        padding: 80px 0;
    }
    #featuredDeals h2 {
        font-size: 56px;
        line-height: 60px;
        margin-bottom: 30px;
    }
    .mainFooter ul li a {
        font-size: 14px;
        margin: 0 13px;
    }
    .mainFooter .footLcoation, .mainFooter .footTelicon {
        color: #f1f1f1;
        font-size: 14px;
        margin-bottom: 14px;
        min-height: 20px;
    }
    .mainFooter ul.footerDown a img {
        width: 150px;
        border-radius: 5px;
    }
    .mainFooter {
        padding-top: 40px;
    }
    .footer {
        padding: 30px 0;
        margin-top: 20px;
    }
    .copyright {
        font-size: 14px;
    }
}
@media (max-width:767px) {
    .menuButton {
        height: 19px;
        width: 25px;
    }
    a.logoLink {
        max-width: 350px;
    }
    .bannerLeft ul li h3 {
        font-size: 18px;
    }
    .bannerLeft ul li p {
        font-size: 16px;
        line-height: 20px;
    }
    .bannerLeft {
        margin-top: 190px;
    }
    .bannerRight h1 {
        font-size: 45px;
        line-height: 55px;
        margin-bottom: 8px;
    }
    .bannerRight {
        margin-top: 170px;
    }
    ul.nav-menu {
        background-color: rgba(0,0,0,.9);
    }
    .banner.section {
        min-height: 500px;
    }
    #featuredDeals h2 {
        font-size: 45px;
        line-height: 50px;
        margin-bottom: 20px;
    }
    #featuredDeals {
        padding: 50px 0;
    }
}
@media (max-width:520px) {
    a.logoLink {
        max-width: 250px;
    }
    #topSecion a {
        font-size: 12px;
        margin-left: 3px;
        margin-right: 5px;
    }
    .langSwitch {
        margin-right: 6px;
        padding-right: 10px;
    }
    #topSecion a.topOrderButton {
        padding: 4px 5px;
        margin-top: -4px;
        margin-bottom: -4px;
        margin-left: 5px;
        margin-right: 0;
    }
    #topSecion a.cartLink {
        width: 16px;
        height: 15px;
        margin-left: 5px;
        margin-top: 3px;
    }
    #topSecion a.instalink {
        width: 15px;
        height: 15px;
        margin-left: 5px;
        margin-top: 3px;
    }
    #topSecion {
        padding: 4px 0px;
    }
    #topSecion ul.logSwitch a {
        width: 14px;
        height: 14px;
        font-size: 0;
        display: block;
        background-size: auto 14px;
        padding: 0;
    }
    .header {
        top: 32px;
    }
    .menuButtonOuter {
        top: 20px;
    }
    .menuButton {
        height: 17px;
        width: 22px;
    }
    ul.nav-menu {
        z-index: 999999;
        position: relative;
    }
    ul.nav-menu a {
        line-height: 18px;
        font-size: 14px;
        margin-bottom: 9px;
    }
    .bannerLeft {
        margin-top: 150px;
        width: 100%;
        padding-right: 0;
    }
    .bannerRight {
        margin-top: 130px;
        width: 100%;
        text-align: center;
    }
    .bannerRight h1 {
        font-size: 35px;
        line-height: 45px;
        margin-bottom: 5px;
    }
    .button1 {
        font-size: 12px;
        line-height: 22px;
        padding: 7px 30px;
        margin-top: 5px;
        margin-left: 0;
    }
    .bannerLeft {
        margin-top: 50px;
        width: 100%;
        padding-right: 0;
        margin-bottom: 30px;
        text-align: center;
    }
    .bannerLeft ul li:first-child {
        padding-left: 0;
        background-position: top center;
        background-size: 18px;
        padding-top: 50px;
        min-height: 50px;
    }
    #featuredDeals h2 {
        font-size: 35px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    #featuredDeals {
        padding: 40px 0;
        padding-bottom: 20px;
    }
    .featuredDealsEach {
        float: left;
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
    .featuredDealsEachTop img {
        margin-bottom: 5px;
        float: left;
    }

    .featuredDealsEachBottom img {
        width: 49%;
        margin-right: 2%;
    }
    .mainFooter ul li a {
        font-size: 13px;
        margin: 0 10px;
        margin-bottom: 10px;
        display: inline-block;
    }
    .mainFooter .footLcoation, .mainFooter .footTelicon {
        padding-left: 0;
        padding-top: 25px;
        background-position: top center;
        margin-bottom: 20px;
    }
    .footer {
        padding: 20px 0;
        margin-top: 0;
    }
    .copyright {
        font-size: 13px;
        text-align: center;
        width: 100%;
    }
    .copyright a.instalink {
        float: none;
        margin: 0 auto;
        display: block;
        margin-top: 10px;
    }
    .swlogo {
        max-width: 20px;
        opacity: .5;
        display: block;
        margin-top: 10px;
        clear: left;
        float: none;
        margin: 0 auto;
        padding-top: 10px;
    }
    .bannerLeft ul li p {
        margin-right: 0;
        padding-right: 0;
        width: 100%;
        text-align: center;
        max-width: 100%;
    }
    #featuredDeals .lSSlideOuter .lSPager.lSpg {
        bottom: 20px;
        left: 0;
        right: 0;
    }
}









@media (max-width:340px) {
}